.container {
  display: block;

  .header {
    background-color: white;
    box-shadow: 0 0 0 1px purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    h2 {
      color: purple;
      margin-left: 1em;
    }

    .btn {
      color:orangered;
    }

    .menu {
      .payment {
        margin-left: 0.5em;
        margin-right: 0.5em;
      }
    }
  }



}